.map{
  margin-top: 20px;
  height: 500px;
  border: 1px solid;
}
.map .leaflet-container{
  height:100%;
}

.info-flag img{
  object-fit: fill;
  width: 100px;
  background-image: contain;
}
.info-flag{
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}